/* Common*/

body {
    text-align: center;
}


p {
    color: #8f8f8f;
}

h1,
h2,
h3,
a,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.container-fluid {
    padding: 7% 15% ;
}

/*      Section     */
#footer {
    font-size: larger;
}

#testimonials{
    background-color: #ef8172;
}
.white{
    background-color: white;
}

#press {
    background-color: #ef8172;
}
.colored{
    background-color: #ff4c68;
    color:white;
}

/*      Headings     */

.feature-heading {
    font-size: 1.5rem;
    padding: 5% 0 0 0;
}


.big-heading {
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*      Title       */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.phone {
    transform: rotate(20deg);
    width: 55%;
    position: absolute;
}

.brand {
    font-family: "ubuntu";
    font-size: 3rem;
}

.download-button {
    margin: 5% 3% 10% 0;
}

/*      NavBar      */

.navbar {
    padding: 0 0 2.5rem;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.5rem;
    font-weight: lighter;
}

/*      Features      */

.feature-box {
    text-align: center;
}

#features {
    position: relative;
}


.feature-pic {
    color: #ef8172;
}

.feature-pic:hover {
    color: #ff4c68;
}



/*      Testimonials        */


.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}

.testimonials-desc {
    font-weight: bold;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}



/*      Press     */


.press-logo {
    width: 15%;
    margin: 20px 30px 50px;
}

/*      Pricing     */


.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

/*      FOOTER      */


.contact-icon {
    margin: 0 15px;
}

.contact-icon:hover {
    color: violet;
}

/*      Media query      */

@media (max-width:1028px) {

    #title .container-fluid{
        text-align: center;
    }

    .phone {
        position: static;
        transform: rotate(0);
    }

}